.TheGrid{
    display: grid;
    width:90%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    margin: 2rem auto;
}